# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Asset
server/Asset/Logs/*
!server/Asset/Logs/error
server/Asset/Logs/error/*

server/Asset/transcript/*

server/Asset/db/*
!server/Asset/db/backup
server/Asset/db/backup/*
